// variables
$text-color: #06294b;

$secondary-color: #3781f0;
$secondary-color-transp: rgba(80, 153, 242, 0.9);
$secondary-color-clear: #c8deff;
$secondary-color-flashy: #1786ee;
$secondary-color-dark: #2b67c1;

$third-color: #8d8bf8;
$third-color-transp: rgba(145, 144, 248, 0.9);
$third-color-clear: #e9edff;
$third-color-dark: #964cb8;

$fourth-color: #9f9df8;
$fourth-color-clear: #ededfd;

$fifth-color: #C680FC;
$fifth-color-clear: #e0e2fe;

$pink-color: #e768f2;
$pink-color-transp: rgba(231, 104, 242, 0.9);
$pink-color-clear: #F5A9EC;

$yellow-color: #f2d344;
$yellow-color-transp: rgba(242, 211, 68, 0.9);

$green-color: #5FC938;
$orange-color: orange;


$clear-color: #ecf5fb;
$clear-color-transp : rgba(232, 245, 253, 0.7);

