// variables
$primary-color: #14293D;
$primary-color-transp: rgba(37, 76, 112, 0.9);
$primary-color-clear: #779BBD;
$primary-color-grey: #1d2832;

$secondary-color: #3796f0;
$secondary-color-transp: rgba(80, 164, 242, 0.9);
$secondary-color-clear: #98c6f0;
$secondary-color-flashy: #1786ee;

$third-color: #9190f8;
$third-color-transp: rgba(145, 144, 248, 0.9);
$third-color-clear: #CBCBF8;
$third-color-dark: #464678;

$fourth-color: #7E95D9;

$fifth-color: #C822FF;
$fifth-color-clear: #d566fa;

$pink-color: rgb(231, 104, 242);
$pink-color-transp: rgba(231, 104, 242, 0.9);
$pink-color-clear: #F5A9EC;

$yellow-color: #f2d344;
$yellow-color-transp: rgba(242, 211, 68, 0.9);

$green-color: #5FC938;

$clear-color: #ecf5fb;
$clear-color-transp : rgba(232, 245, 253, 0.9);